.parent-div

  %h2#comment-title.float-left
    Comments

  - if current_user
    #button-to-unhide.float-right
      = link_to("Add a comment", 'x', class: "btn btn-primary", onclick: "hide_and_show();")
    #new-comment-form-to-show.hiddenx
      = page.new_comment_form_as_html(current_user)
  - else
    You need to
    %a{href: ''}
      sign in
    to comment
  .clear

  - #TODO move to haml
  = page.comments_as_html