%ul#tabs.nav.nav-tabs{'data-tabs'.to_sym => 'tabs'}
  %li.active
    %a{ href: '#introduction-tab',      'data-toggle'.to_sym => 'tab' } Introduction
  %li
    %a{ href: '#theme-tab',      'data-toggle'.to_sym => 'tab' } Themes
  %li
    %a{ href: '#context-tab',    'data-toggle'.to_sym => 'tab' } Context
  %li
    %a{ href: '#issue-tab',      'data-toggle'.to_sym => 'tab' } Issues
  %li
    %a{ href: '#need-tab',       'data-toggle'.to_sym => 'tab' } Needs
  %li
    %a{ href: '#competition-tab','data-toggle'.to_sym => 'tab' } Competition
  %li
    %a{ href: '#capability-tab', 'data-toggle'.to_sym => 'tab' } Capabilities
  %li
    %a{ href: '#action-tab', 'data-toggle'.to_sym => 'tab' } Actions