<img src='http://media.rhizome.org/blog/8922/qc4.jpeg' width='840'\>

<p><br/>A community project documenting physical artifacts made at the University of Manchester during its early
  involvement in
  in groundbreaking computer design.<br/>
  Our prime focus is to catalogue and describe the physical artifacts held by the School of Computer Science.<br/>
  Pictured above, Alan Turing, without whom all this would have been much more difficult.</p>
<br/>

<% if pages == [] %>
      <p hint-color>No content yet<br/>Add a page by clicking New Page at the top right of this page</p>
<% else %>
    <p bold>Content</p>

    <ul>
      <% pages.sort { |x, y| x.title.downcase<=>y.title.downcase }.each do |page| %>
          <li><%= link_to page.title, page %></li>
      <% end %>
    </ul>
<% end %>



