<li>
  <hr/>
  <% if comment.commenter %>
      <div class='comment_commenter'>
        <%= "#{comment.user.name} at #{comment.created_at.strftime("%H:%M on %e %B %Y") }" %>
      </div>
      <div class='comment_content'>
        <%= comment.content %>
      </div>
  <% end %>
</li>