.search-results



  %a.page-heading-in-page-summary{href: page_url(page)}
    = page.title

  %div
    = page.content

  .history-t-and-c
    .history-tags
      = render 'tags/tags', tags: page.history.last.tags_as_arr
    .history-tags
      = render partial: 'categories/categories', locals: {categories: page.history.last.categories_as_arr}
%hr


