.search-results

  .category-trails
    = render partial: 'categories/categories', locals: {categories: page.categories_as_arr}

  %a.page-heading-in-page-summary{href: page_url(page)}
    = page.title

  %div
    = page.content

  %div
    = render 'tags/tags', tags: page.tags_as_arr
%hr