<h1>Edit <%= page.title %></h1>

<%= render :partial => 'layouts/page_form', :locals => {
        f_url:     update_url,
        f_method:  'put',
        f_title:   page.title,
        f_content: page.content }
%>
