%h1.page-title Resolve editing conflicts

= render :partial => 'page_conflict_edit_form', locals: {page: page,  conflict: @conflict}

- # %h2 Your changes
= # render :partial => 'page_conflict_edit_form', locals: {page: @conflict}
