- @pages = Page.order('title ASC').page(params[:page]).per(5)


.container
  .page-title Pages
  = paginate @pages
  - @pages.each do |pgs|
    = render partial: 'pages/page_summary', locals: {page: pgs}

