<h1><%= @page.title %></h1>

#TODO eliminate cross site scripting (html_safe it is not as yet)

<%= ContentHtmlGenerator.generate(@page).html_safe %>

<%= link_to "Edit", @edit_url, class: "btn btn-primary" if user_signed_in? %>
