%ul{'no-bullets'.to_sym => true}
  - page.resources.each do |r|
    %li
      %p.bold
        %a{href: resource_path(r)}
          = r.title
      %a{href: resource_path(r)}
        %img.resource-image{src: r.file, title: "#{r.description}"}
      %hr


