.container
  .content-title
    All resources
  - Resource.order(:title).each do |r|
    .summary-title
      %a{href: resource_path(r.id)}
        = r.title

    - get_from = r.file
    - get_from = r.url if r.url
    %a{href: resource_path(r.id), style: 'width: 600px; margin-left: 10px;'}
      %img{src: get_from, width: '150px'}
    %br

    - if current_user && current_user.can_delete?(r)
      .float-right
        = link_to 'Remove resource', r,
             :confirm => 'Are you sure you want to remove this resource? This cannot be undone.',
             :method => :delete
    %hr
