// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top {padding: 0 0 30px 0;}
.search-results .page-heading-in-page-summary {font-size: 2em; font-weight: bold; padding: 0 0 15px 0;}

