// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-new-page]
{
  color:red;
}

[data-page]
{
  color:blue
}

[time-and-user]
{
  color: lightseagreen;
  font-size: 0.8em;
  margin: 0 0 6px 0;
}

[no-bullets]
{
  list-style-type: none;
  margin-left: 0px;
}

[yellow-background] {background-color: yellow}

#history_tab li {
  margin-bottom: 40px;
}

.field_with_errors {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}


#page_title   { width: 600px; height: 20px; }
#page_content { width: 600px; height: 350px; }


.content_title   { margin: 10px 0 6px 0; font-size: 1.3em; }
.content_content { margin: 0 0 0 0; width: 620px; }
.content_content p { margin: 0 0 1.6em 0; line-height: 1.66em;}
.content_tags    { margin: 2em 0 0 0;  }

.history_title   { margin: 10px 0 3px 0; font-size: 1em; }
.history_content  { margin: 0 0 0 0; width: 500px}
.history_content p { margin: 0 0 1.4em 0; font-size: 0.95em; width: 500px}
.history_tags    { margin: 0px 0 0 0; font-size: 0.8em; }

.comment_commenter { margin: 10px 0 6px 0; font-size: .8em; width: 620px; color: lightseagreen;}
.comment_content   { margin: 0 0 0 0; font-size: .9em; width: 620px; }

.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
