// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.try_in_rhs {display: inline-block; max-height: 140px; overflow: hidden}
.float-left img { margin-bottom: 10px;}

.absolute      { position: absolute; }
.admin-position { top: 31px; left: auto; right: 24px; }
.auto          { overflow: auto}
.bold          { font-weight: bold}
.clear        { clear: both; }
.container .content h2 { margin-top: 1.6em; }
.content-content ul li { font-size: 1.2em; line-height: 1.7em; }
.content-content h1 { margin-top: 1.7em; }
#history-width ul li { font-size: 1em; line-height: 1.7em; margin-bottom: 0px}

[data-page]    { color:blue }
[data-new-page] { color:red; }
.field_with_errors { border-color: red; box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); }
.float-left    { float: left;}
.float-right   { float: right;}
#header-nav    { float: right;}
#logo          {font-family: arial; font-size: 20pt;}
.margin-left-20px { margin-left: 20px; }
[no-bullets]   { list-style-type: none; margin-left: 0px; }
.omniauth-provider-button {padding: 0 0 0 0; }
                  // make parent div have height of child floats
.parent-div:after { content: " "; display: block; clear: both; }
.red           { color: #ff5e1f; }
.relative      { position: relative; }
.std-width     { width: 640px; }
.time-and-user { color: lightseagreen; font-size: 0.96em; margin: 0 0 6px 0; }
[yellow-background] { background-color: yellow; }
.page-summary-rh { left: 200px; top: 0; width: '800px'; }
.page-summary-lh { left: 0; top: 0; }
.width-150px     { width: 150px; }
.width-400px     { width: 400px; }
.width-492px     { width: 492px; }
.width-500px     { width: 512px; }
.width-550px     { width: 550px; }
.width-600px     { width: 600px; }
.width-800px     { width: 800px; }


// main tab
.content-content     { margin: 0 0 1em 0; line-height: 1.7em; font-size: 1em; }
.content-content img { margin: 0 0 1.7em 0; }
.content-content p   { margin: 0 0 1.7em 0; line-height: 1.7em; font-size: 1.2em; }
.content-edit-button { float: right;  margin: 3px 0 0 0; }
.content-footer      { font-size: 0.95em; color: gray; background-color: rgba(135, 202, 250, 0.18);
                       padding: 0.7em 1.3em 1em 1em ; margin-bottom: 1em; }
#button-to-unhide    {margin-top: 1em; }

#comments-spacer     { padding-top: 15px; }
// content tab, reveal comments
.hiddenx                      { display: none;  height: 200px; }
#new-comment-form-to-show     { margin: 20px 13px 10px 20px; }
#button-to-unhide-add_comment {margin: 8px 0 0 0; }
#comment_content { width: 619px; height: 150px}

// resource tab
.resource-image    { margin-left: 2em; width: 200px; }

// history tab
#history-width     { width: 500px; font-size: 0.95em; }
#history-width p   { margin: 0 0 1.4em 0; font-size: inherit; }
#history-tab li   { margin-bottom: 40px; }

// various titles - homogenise?
#comment-title     { color: #444; }
.page-title { font-size: 3em;   font-weight: bold; margin: 0.6em 0 0.8em 0; line-height: 1.2em; color: rgb(44, 2, 117); }
.page-title-after-type  { font-size: 3em;   font-weight: bold; margin: 0em 0 0.8em 0; line-height: 1.2em; color: rgb(44, 2, 117); }
.container .content h1,
.container .content h2,
.container .content h3  { color: #2c0275}
.container .content-content h2,
.container .content-content h3  { font-weight: normal;}
.container .content #dialog { display: none; }
.history-title     { font-size: 1em;   font-weight: bold; margin: 10px 0 3px 0; }
.summary-title     { font-size: 1.4em; font-weight: bold; margin: 0em 0 15px 0; }
a.summary-title {color: #2c0275;}
a.summary-title:hover {color: #2132F8;}


// tags and categories - homogenise?
.history-tags-and-categories { line-height: 1.4em; font-size: 0.8em; color: gray;
     background-color: rgba(135, 202, 250, 0.18); padding: 0.5em 1em 0.5em 1em ; }
.page_summary_page_type {line-height: 1.4em; font-size: 0.8em; color: gray; padding-bottom: .45em; }
.tags-and-categories { margin: 0px 0 0 0; }

// page listing pages, two lines of text ------------------
.fixed-height-box-for-truncated-page-text { height: 50px; width: 95%; display: block; overflow: hidden; }
.fixed-height-box-for-truncated-page-text p { line-height: 1.2em; }
// edit resources page, select list height ----------------
#resource_resource_usages { height: 200px; }

// new pages, for form fields ------------------------------
#page_categories,
#page_content,
#page_tags,
#page_title,
#resource_description,
#resource_title      { width:  500px; }
#page_content      { height: 450px; }
#resource_file,
#resource_url      { width: 478px; }

// messing around pages index view
.try_in_rhs p {font-size: 1em; line-height: 1.4em}
.delete-page {position: relative; top: 40px;}
.page-summary-width { width: 600px; }
.page-summary-width-plus { width: 630px; }
.page-summary-image-indent { margin-left: 10px; }
.page-summary-footer-indent_and_spacing { margin: 0 0 25px 10px; }
.page-summary-width-plus hr {border-top: 1px solid #33244D; }

// resources index view
.resources-summary-width-and-margin { width: 600px; margin-left: 10px;}

// resource form
.notice-para { width: 550px; margin-bottom: 0.6em; margin-left:20px; color:#58A55E; }
.change-note { color: #ccc; }
.instruction { width: 550px; margin-bottom: 0.6em; }

.checkbox-item {width: 250px;}

// resource show
.color-bbb { color: #bbb}

// dimensions for error feedback boxes
.ccc { width:  514px; }
.ddd {height: 30px; }
.eee {height: 460px; }
.field_with_errors {height: 100%; }

// resources form
.scrolling-div { width: 300px; height: 100px; overflow: auto; border-radius: 4px; border: 1px solid darkgray}
.tick-box       { margin: 0 10px 14px 10px; }

// for tabs on page page ------------------------------------
#content-tab   { }
#history-tab   { }
#last-change-tab {}

#guide-tab {}
#context-tab {}
#issue-tab {}
#capabilities-tab {}
#need-tab {}
#competition-tab {}

// diff tab ---------------------------------------------------------

.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }






