// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-new-page]
{
  color:red;
}

[data-page]
{
  color:blue
}

[time-and-user]
{
  color: lightseagreen;
  font-size: 0.8em;
}

[no-bullets]
{
  list-style-type: none;
  margin-left: 0px;
}

[yellow-background] {background-color: yellow}

#history_tab li {
  margin-bottom: 40px;
}

.field_with_errors {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
