// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

[data-new-page] { color:red; }
[data-page] { color:blue }
[no-bullets] { list-style-type: none; margin-left: 0px; }
[yellow-background] {background-color: yellow}

.field_with_errors { border-color: red; box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); }

.time-and-user { color: lightseagreen; font-size: 0.96em; margin: 0 0 6px 0;}
.bold          { font-weight: bold}
.clear         { clear: both;}
.float-left    { float: left;}
.float-right   { float: right;}

#content-tab   { }
#history-tab   { }
#history-tab li   { margin-bottom: 40px; }
#last-change-tab {}

#page-title   { width: 600px; height: 20px; }
#page-content { width: 600px; height: 350px; }
.page-width   { width: 640; }

#content-width { width: 640px; }
.content-title       { margin: 0.6em 0 0.8em 0; font-size: 3em; font-weight: bold; line-height: 1.2em }
.content-content     { margin: 0 0 1em 0; line-height: 1.7em; font-size: 1.2em}
.content-content p   { margin: 0 0 1.7em 0; line-height: 1.7em; font-size: 1.2em}

.content-footer      { font-size: 0.95em; color: darkgray; background-color: rgba(135, 202, 250, 0.18); padding: 0.7em 1em 0.7em 1em ; }
.content-t-and-c     { width: 450px; height: auto }
.content-tags        { margin: 0px 0 0 0;  }
.content-categories  { }
.content-edit-button { float: right;  margin: 5px 10px 0 0; }

#comment-width { width: 640px; padding-top: 15px;}
#new-comment-form-to-show { margin: 20px 13px 10px 20px; }
#button-to-hide {margin: 20px 0 0 20px}
#comment_commenter { width: 100%; }
#comment_content   { width: 100%; height: 120px; }
.comment-commenter { margin: 10px 0 6px 20px;   color: lightseagreen;}

.history-title     { margin: 10px 0 3px 0; font-size: 1em; font-weight: bold; }
.history-content   { margin: 0 0 0 0; width: 500px}
.history-content p { margin: 0 0 1.4em 0; font-size: 0.95em; width: 500px}
.history-tags      { margin: 0px 0 0 0; font-size: 0.8em; }
.category-trails   {margin-bottom: 0.2em; font-size: 0.95em}
.page-heading-in-page-summary {font-size: 1.2em; font-weight: bold; margin: 10em 0 15px 0;}


.hiddenx { display: none;  height: 200px}
// make div have height of child floats
#parent-div:after { content: " "; display: block; clear: both;}






