= # Rails flash messages styled for Twitter Bootstrap 2.3 modified %>

- flash.each do |type, msgs|
  - msgs.each do |m|
    %div{class: "alert alert-#{type == :notice ? 'success' : 'error'}"}
      = content_tag :div, m
- flash = nil

