%ul#tabs.nav.nav-tabs{'data-tabs'.to_sym => 'tabs'}
  %li.active
    %a{ href: '#content-tab',     'data-toggle'.to_sym => 'tab' } Page
  %li
    %a{ href: '#resource-tab',    'data-toggle'.to_sym => 'tab' } Resources
  %li
    %a{ href: '#history-tab',     'data-toggle'.to_sym => 'tab' } History
  %li
    %a{ href: '#last-change-tab', 'data-toggle'.to_sym => 'tab' } Last change (do more)