%ul#tabs.nav.nav-tabs{data: {tabs: 'tabs'}
  %li.active
    %a{ href: '#content-tab',     data: {toggle: 'tab'} } Page
  %li
    %a{ href: '#resource-tab',    data: {toggle: 'tab'} } Resources
  %li
    %a{ href: '#history-tab',     data: {toggle: 'tab'} } History
